       * {
           margin: 0;
           padding: 0;
           list-style-type: none;
           font-family: $font-body;
       }
       
       a {
           color: black;
           &:visited {
               color: black;
           }
       }
       
       .svg {
           width: 20px;
           height: 20px;
       }
       
       @media #{$mobile-only} {
           .main {
               text-align: center;
           }
           header.main {
               padding: 20px 0;
           }
           p.main {
               padding: 10px 0;
               background-color: $color-back;
               font-weight: bold;
           }
           .explorer {
               padding: 15% 10%;
               height: 290px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               background-color: $color-btn-off;
               h1 {
                   font-size: 1.5rem;
                   font-weight: bold;
                   margin-bottom: 20px;
               }
               p {
                   margin-bottom: 30px;
               }
           }
           .btn--round {
               border-radius: 40px;
               border: none;
               font-weight: bold;
               padding: 20px;
               @include gradient_btn;
               @include shadow_box;
               color: #ffffff;
               text-decoration: none;
               cursor: pointer;
               font-size: 0.9rem;
               position: relative;
               z-index: 1;
               display: inline-block;
               &:hover {
                   &::after {
                       opacity: 1;
                   }
               }
               &:visited {
                   color: #fff;
               }
               &::after {
                   content: "";
                   position: absolute;
                   top: 0;
                   right: 0;
                   bottom: 0;
                   left: 0;
                   @include gradient_btn_activ;
                   @include shadow_box_aciv;
                   border-radius: 40px;
                   opacity: 0;
                   z-index: -1;
                   transition: opacity 250ms;
               }
           }
           .function {
               height: 290px;
               display: flex;
               flex-direction: column;
               h2 {
                   padding-left: 5%;
                   padding-top: 25px;
                   text-align: left;
                   @include title;
                   margin-bottom: 5%;
               }
               ol {
                   list-style-type: none;
                   counter-reset: my-counter;
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   font-weight: bold;
               }
               li {
                   display: flex;
                   flex-direction: row;
                   margin-bottom: 5%;
                   width: 80%;
                   align-items: center;
                   &::before {
                       content: counter(my-counter);
                       counter-increment: my-counter;
                       color: white;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       height: 20px;
                       width: 20px;
                       border-radius: 50%;
                       background-color: $color-primary;
                       position: relative;
                       right: -10px;
                       font-size: .8rem;
                       font-weight: normal;
                   }
                   span {
                       display: flex;
                       justify-content: space-evenly;
                       height: 50px;
                       width: 280px;
                       align-items: center;
                       border-radius: 15px;
                       background-color: $color-btn-off;
                       @include shadow_box;
                   }
                   &:nth-child(3) {
                       span {
                           background-color: $color-btn-actif;
                       }
                   }
               }
           }
           .resto_list {
               padding: 60px 20px;
               background-color: $color-btn-off;
               h2 {
                   @include title;
                   padding: 0;
                   text-align: left;
                   margin-bottom: 20px;
               }
               li {
                   height: 250px;
                   margin-bottom: 20px;
                   border-radius: 5%;
                   overflow: hidden;
                   @include shadow_box;
                   background: #fff;
               }
               .img_res_main {
                   @include img_list_restos;
                   display: flex;
                   justify-content: flex-end;
               }
               .label {
                   @include label;
               }
               span.res_1 {
                   background-image: url('../images/mobile_version/palette_340_227.jpg');
               }
               .res_2 {
                   background-image: url('../images/mobile_version/enchantee_340_425.jpg');
               }
               .res_3 {
                   background-image: url('../images/mobile_version/française_340_227.jpg');
               }
               .res_4 {
                   background-image: url('../images/mobile_version/Delice_340_233.jpg');
               }
               .description {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   padding-left: 10px;
                   padding-right: 10px;
               }
               .text__description {
                   text-align: left;
               }
               h3 {
                   @include title;
                   font-size: 1rem;
                   margin-bottom: 5px;
               }
               @include heart ($heart_top_main,
               $heart_right_main);
           }
           footer.main {
               @include footer_mobile;
           }
       }