/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

button,
input,
select {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

* {
    font-family: "Roboto", sans-serif
}

.svg {
    width: 20px;
    height: 20px
}

@media all and (max-width: 736px) {
    .main {
        text-align: center
    }
    header.main {
        padding: 20px 0
    }
    p.main {
        padding: 10px 0;
        background-color: #eaeaea
    }
    .explorer {
        padding: 15% 10%;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f6f6f6
    }
    .explorer h1 {
        font-size: 1.5rem;
        font-weight: bold
    }
    .round {
        border-radius: 40px;
        padding: 5%;
        border: none;
        font-weight: bold;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        color: #fff;
        cursor: pointer;
        font-size: .9rem;
        box-shadow: 0 4px 4px #d5d5d5
    }
    .function {
        height: 290px;
        display: flex;
        flex-direction: column
    }
    .function h2 {
        padding-left: 5%;
        text-align: left;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 5%
    }
    .function ol {
        list-style-type: none;
        counter-reset: my-counter;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .function li {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        width: 80%;
        align-items: center
    }
    .function li::before {
        content: counter(my-counter);
        counter-increment: my-counter;
        color: #fff;
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #9356dc;
        position: relative;
        right: -10px
    }
    .function li span {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        width: 280px;
        align-items: center;
        border-radius: 30px;
        background-color: #f6f6f6;
        box-shadow: 0 4px 4px #d5d5d5
    }
    .function li:nth-child(3) span {
        background-color: #f5edff
    }
}


/*# sourceMappingURL=style.css.map */